_site
.sass-cache
Gemfile.lock
*.gem

cayman

_sass/*
!_sass/variables.scss
.jekyll-cache
docs
script
.rubocop.yml
.travis.yml
jekyll-theme-cayman.gemspec
LICENSE
hyrulesunset2.jpg
thumbnail.png
*.psd
*.pdf
*.png~
*.jpg~
*.jpeg~