<!-- Belongs at: /_includes/navigation.html -->

<!-- This finds the current page so it can be highlighted. -->

{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
  {% if fullurl == page.url %}
    {% assign current_page = fullurl %}
    {% break %}
  {% elsif page.url contains fullurl %}
    {% assign current_page = fullurl %}
  {% endif %}
{% endfor %}

<!-- Then we build the nav bar. -->
<!-- current_page / page.url / entry.url -->
<nav>
  <ul>

  {% for entry in site.data.navigation %}

    {% assign sublinks = entry.sublinks %}
    
    {% if sublinks %}

      <li {{ current }}>

        {% if entry.url %}
          <span class="parent hasUrl">
            <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
          </span>
        {% else %}
          <span class="parent">
            {{ entry.title }}
          </span>
        {% endif %}

        <ul>
          {% for sublink in sublinks %}

            {% assign trunc = page.url | split: '.html' | first %}
            {% if trunc == sublink.url %}
              <li class="active"><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
            {% else %}
              <li class="hasUrl"><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
            {% endif %}

          {% endfor %} <!-- for sublink in sublinks -->
        </ul>
      </li>

    {% else %}

    <li {{ current }}>
      {% if entry.url %}

        {% assign trunc = page.url | split: '.html' | first %}
        {% if trunc == entry.url %}
          {% assign current = 'class="active"' %}
        {% else %}
          {% assign current = 'class="hasUrl"' %}
        {% endif %}
      
        <span class="parent">
          <a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
        </span>

      {% else %}
      
        <span class="parent">
          {{ entry.title }}
        </span>

      {% endif %} <!-- if entry.url -->
    </li>
    
    {% endif %} <!-- if sublinks -->

  {% endfor %} <!-- for entry in site.data.navigation -->
  
  <li>
    <span class="parent">
      Posts
    </span>
    
    <ul>
      {% for post in site.posts %}
      
        {% if page.url == post.url %}
          {% assign class = 'active' %}
        {% else %}
          {% assign class = 'hasUrl' %}
        {% endif %}

        <li class="{{ class }}">
          {% capture post_url %}{{ site.github.url }}{{ post.url }}{% endcapture %}
          <a href="{{ site.baseurl }}{{ post.url }}" style="font-size: .76em;">
            <sub>{{ post.date | date: "%m. %d." }}&nbsp;</sub>
            {{ post.title }}
          </a>
        </li>
        
      {% endfor %} <!-- for post in site.posts -->
    </ul>
  </li>

  </ul>
</nav>
