// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #f9f7dc;
$header-bg-color: #645f8a;
$header-bg-color-secondary: #39477b;

// Sidebar
$sidebar-indent: 2rem;
$sidebar-width: 240px;
$sidebar-padding: 1rem;
$sidebar-padding-each: .6rem;

// Text
$section-headings-color: #8d317e;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Fonts
@font-face {
  font-family: "HyliaSerif";
  src: url("../fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

@font-face {
  font-family: "KoreanBold";
  src: url("../fonts/NanumSquareEB.ttf") format("truetype");
}

@font-face {
  font-family: "KoreanRegular";
  src: url("../fonts/NanumSquareR.ttf") format("truetype");
}
