// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #f9f7dc;
$header-bg-color: #645f8a;
$header-bg-color-secondary: #39477b;

// Sidebar
$sidebar-bg-color: #f5e7ec;
$sidebar-font-size: 1.4em;
$sidebar-indent: 1rem;
$sidebar-pre-left: 12px;
$sidebar-width: 290px;
$sidebar-padding: 1.8rem;
$sidebar-padding-each: .5rem;

// Text
$section-h1-color: #7e1355;
$section-h2-color: #aa3c6f;

$sidebar-active-color: #d3c1da;
$sidebar-hover-color: #dedae7;
$body-link-pink: #9b0c2b;
$body-link-blue: #1e6bb8;

$section-headings-color: #159957 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Fonts
@font-face {
  font-family: "HyliaSerif";
  src: url("../fonts/HyliaSerifBeta-Regular.otf") format("opentype");
}

@font-face {
  font-family: "KoreanBold";
  src: url("../fonts/NanumSquareEB.otf") format("opentype");
}

@font-face {
  font-family: "KoreanRegular";
  src: url("../fonts/NanumSquareR.otf") format("opentype");
}

@font-face {
  font-family: "KoreanLight";
  src: url("../fonts/NanumSquareL.otf") format("opentype");
}
